.header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav span {
  font-size: large;
  color: #747474;
  cursor: pointer;
}

.marca {
  font-weight: 700;
}

/* Botón hamburguesa oculto en desktop */
.menuBtn {
  display: none;
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav {
    display: none; /* ⬅️ ocultamos links */
  }

  .menuBtn {
    display: block; /* ⬅️ mostramos hamburguesa */
  }
}

