.container {
    padding-top: 3rem;
    margin-top: 3rem;
    background: #74747410;
    height: 25rem;
}

.container h1{
    text-align: center;
}



.container .detalles{
    background: white;
    margin: 10px;
    padding: 1rem;
    border-radius: 10px;
}

.container .question{
    font-size: 20px;
}

