.contenido{
    margin-bottom: 4rem;
    padding-top: 3rem;
    text-align: center;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.contenido h3{
    color: #00000094;
}

.logos span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 800;
    color: #555;
    font-size: 1.5rem;
}

@media (max-width: 640px) {
  .logos {
    gap: 1.25rem;
    max-width: 100px;
  }
}
