.contenedor{
    text-align: center;
    margin: 2.5rem;
}

.contenedor > span{
    color: rgb(8, 163, 129);
}

.contenedor h1{
    font-size: 3.5rem;
}

.contenedor a{
    color: #747474;
    max-width: 55ch;
    line-height: 1.35;
    font-size: 1.25rem;
    text-wrap: balace;
}

@media (max-width: 768px) {
    .contenedor {
        margin: 1.5rem;
    }

    .contenedor h1 {
        font-size: 2rem;
    }

    .contenedor a {
        font-size: 1rem;
    }
}@media (max-width: 480px) {
    .contenedor h1 {
        font-size: 1.5rem;
    }
}
